export interface {{operationId}}Request {
  {{#allParams}}
    {{paramName}}{{^required}}?{{/required}}{{#isXCompatibilityDate}}?{{/isXCompatibilityDate}}: {{tsType}};
  {{/allParams}}
}

async {{operationId}}(
  requestParameters: {{operationId}}Request,
  {{#hasAuthMethods}}accessToken?: string,{{/hasAuthMethods}}
  initOverrides?: RequestInit
): Promise<{{returnType}}> {
  // Validate required params except xCompatibilityDate
  {{#allParams}}
    {{^isHeaderParam}}
      {{#isRequired}}
        {{^isXCompatibilityDate}}
          if (requestParameters['{{paramName}}'] == null) {
            throw new Error("Required parameter '{{paramName}}' was null or undefined when calling {{operationId}}.");
          }
        {{/isXCompatibilityDate}}
      {{/isRequired}}
    {{/isHeaderParam}}
  {{/allParams}}

  const queryParameters: any = {};
  const headerParameters: Record<string, string> = {};

  {{#allParams}}
    {{#isHeaderParam}}
      {{^isXCompatibilityDate}}
        if (requestParameters['{{paramName}}'] !== undefined) {
          headerParameters["{{baseName}}"] = String(requestParameters['{{paramName}}']);
        }
      {{/isXCompatibilityDate}}
    {{/isHeaderParam}}

    {{#isQueryParam}}
      if (requestParameters['{{paramName}}'] !== undefined) {
        queryParameters["{{baseName}}"] = requestParameters['{{paramName}}'];
      }
    {{/isQueryParam}}
  {{/allParams}}

  if (requestParameters['xCompatibilityDate'] != null) {
    headerParameters['X-Compatibility-Date'] = String(requestParameters['xCompatibilityDate']);
  } else if (!headerParameters['X-Compatibility-Date'] && this.defaultCompatibilityDate) {
    headerParameters['X-Compatibility-Date'] = this.defaultCompatibilityDate;
  }

  if (accessToken) {
    headerParameters['Authorization'] = `Bearer ${accessToken}`;
  }

  let urlPath = `{{{path}}}`;
  {{#pathParams}}
  urlPath = urlPath.replace(`{${name}}`, encodeURIComponent(String(requestParameters['{{name}}'])));
  {{/pathParams}}

  return this.request(urlPath, '{{httpMethod}}', {
    query: queryParameters,
    headers: headerParameters,
    ...initOverrides
  });
}
